/*@import url('https://fonts.googleapis.com/css2?family=Montenegrin+Gothic+One&display=swap');*/

/*DEFINE AS CONFIGURAÇÕES EM TODOS ELEMENTO DA PÁGINA*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*font-family: montenegrim gothic one;*/
}

/*CRIANDO VARIÁVEIS*/
:root{
    --cor01: #e8ebe5b4;
    --cor02: #058dc7;
    --cor03: #eee38f;
    --branca: #ffffff;
}

/*FORMATANDO A TAG main PELO ID geral*/
#geral{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*FORMATANDO O CEBEÇALHO*/
#cabecalho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    height: 100px;
}

/*CONFIGURANDO MENU NA HORIZONTAL*/
#menu ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

/*CONFIGURANDO MENU NA HORIZONTAL*/
#menu ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

#menu ul img{
    width: 25px;
    height: 25px;
}

/*FORATAR O RODAPÉ*/

#rodape{
    width: 100%;
    height: 180px;
    background-color: var(--cor02);
    margin: 20px 0px;
    padding: 10px;
    color: var(--branca);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*FORMATANDO LINKS*/
#menu a:link{
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: var(--cor02);
}

#menu a:visited{
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: var(--cor03);
}

/*FORMANTANDO ID CADASTRO*/

#cadastro_dados{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee38f;
}

input{
    display: block;
}

#div-texto{
    width: 500px;
    min-height: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(236, 169, 25, 0.527);
    border-radius: 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: Helvetica;
    text-align: justify;
    line-height: 35px;
    color: #000000;
    margin-bottom: 20px; 
    margin-top: 15px;
    line-height: 1.5;
    text-indent: 30px;
}
   






